<app-form (valueChanges)="onFilterChanges($event)" (formSubmit)="onSearch($event)">

  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
    <div fxFlex="180px">
      <label class="main-filter-label">
        <strong>{{ 'supero' | uppercase }}</strong>
      </label>
    </div>    
      <mat-form-field class="text-search-form-field" fxFlex>
        <input name="searchText" ngModel matInput placeholder="Busque livros pelo tpitulo, autor ou ISBN">
      </mat-form-field>    
    <div fxFlex="15%">
      <button class="main-search-button" mat-raised-button color="primary" type="submit"> {{ 'buscar' | uppercase }} </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <div fxFlex="0 1 auto">
      Filtrar ano de publicação:
    </div>
    <div fxFlex="0 1 auto">
      <mat-form-field>
        <input matInput name="pickerStart" [matDatepicker]="pickerStart" placeholder="Data inicial" ngModel>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="0 1 auto">
      até
    </div>
    <div fxFlex="0 1 auto">
      <mat-form-field>
        <input matInput name="pickerEnd" [matDatepicker]="pickerEnd" placeholder="Data final" ngModel>
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex class="table-count">
      {{ $bookList?.getValue()?.length || 0 }} resultados encontrados
    </div>
  </div>
</app-form>  

<app-data-table
  [dataSource]="$dataSource | async"
  [displayedColumns]="displayedColumns">
</app-data-table>