@import './../../../styles.scss';

table {
    width: 100%;
}

.app-data-table-container {
    text-align:center;
    text-align-last: center;
}

::ng-deep {
    mat-paginator{
        .mat-paginator-container {
            justify-content: center;
        }
    }
}